@import url('https://fonts.googleapis.com/css?family=Dosis');

html {
  background: url("/assets/images/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Dosis', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #00CDCD;
}

button {
  width: 200px;
  height: 50px;
  margin: auto;
  top: 0;
  bottom: 0;
  align-content: center;
  justify-content: center;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  font-family: 'Dosis', sans-serif;
  color: #ffffff;
  font-size: 25px;
  backdrop-filter: blur(8px);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

button:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg,
      transparent 50%,
      rgba(255, 255, 255, 0.03) 58%,
      rgba(255, 255, 255, 0.16) 67%,
      transparent 68%);
  background-size: 200% 100%;
  background-position: 165% 0;
  transition: 0.7s;
}

body {
  overflow-y: scroll;
}

button:hover:after {
  background-position: -20% 0;
}

button:hover {
  box-shadow: 15px 30px 32px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
}

.adcontainer1 {
  left: 10%;
}

.afk-div {
  text-align: center;
}

.afk-div .title {
  color: white;
  font-weight: bold;
  font-size: 3em;
  margin: 0.5em;
}

.afk-div .subtitle {
  color: white;
  font-size: 1.2em;
  margin: 1em;
}

.afk-div .red-subtitle {
  color: darkred;
  font-size: 1.2em;
  margin: 1em
}

